In [1]:
import pandas as pd

In [ ]:
# labels_georgian-letters-1-saturated_2023-04-24-07-13-10.csv
# labels_georgian-letters-2-middle_2023-04-24-09-43-46.csv

In [3]:
# part 1
df1 = pd.read_csv("labels/labels_georgian-letters-1-saturated_2023-04-24-07-13-10.csv")
df1

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,3დ,794,898,195,182,IMG_20220404_150259.jpg,4608,3456
1,13ო,974,920,137,127,IMG_20220404_150259.jpg,4608,3456
2,10ლ,1110,926,181,159,IMG_20220404_150259.jpg,4608,3456
3,0ა,1284,931,89,130,IMG_20220404_150259.jpg,4608,3456
4,16რ,1370,908,125,157,IMG_20220404_150259.jpg,4608,3456
...,...,...,...,...,...,...,...,...
940,16რ,1062,2127,136,150,IMG_20230226_135514.jpg,3456,4608
941,20ფ,1003,2542,124,152,IMG_20230226_135514.jpg,3456,4608
942,5ვ,1045,3129,101,171,IMG_20230226_135514.jpg,3456,4608
943,5ვ,1076,1492,101,127,IMG_20230226_135514.jpg,3456,4608
944,12ნ,1017,1241,84,145,IMG_20230226_135514.jpg,3456,4608

In [4]:
# part 2
df2 = pd.read_csv("labels/labels_georgian-letters-2-middle_2023-04-24-09-43-46.csv")
df2

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,24შ,657,1145,443,664,IMG_20230212_191424.jpg,4608,3456
1,4ე,3033,1152,332,618,IMG_20230212_191424.jpg,4608,3456
2,4ე,1054,1139,345,690,IMG_20230212_191424.jpg,4608,3456
3,8ი,1367,1152,404,651,IMG_20230212_191424.jpg,4608,3456
4,8ი,3671,1126,384,644,IMG_20230212_191424.jpg,4608,3456
...,...,...,...,...,...,...,...,...
646,14პ,657,3269,142,205,IMG_20230424_114451.jpg,3456,4608
647,30ხ,1188,3275,149,202,IMG_20230424_114451.jpg,3456,4608
648,14პ,652,2325,78,134,IMG_20230424_114451.jpg,3456,4608
649,12ნ,1068,2325,87,142,IMG_20230424_114451.jpg,3456,4608
650,23ყ,1809,2312,100,138,IMG_20230424_114451.jpg,3456,4608

In [9]:
# part 3
df3 = pd.read_csv("labels/labels_georgian-letters-median-part2_2023-04-25-01-40-02.csv")
df3

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,2452,3671,165,317,IMG_20220612_160637.jpg,3456,4608
1,0ა,2265,3298,182,321,IMG_20220612_160637.jpg,3456,4608
2,0ა,2114,2898,161,347,IMG_20220612_160637.jpg,3456,4608
3,0ა,1480,3697,165,338,IMG_20220612_160637.jpg,3456,4608
4,0ა,816,3714,174,338,IMG_20220612_160637.jpg,3456,4608
...,...,...,...,...,...,...,...,...
324,5ვ,1461,2215,134,210,IMG_20230312_103208.jpg,3456,4608
325,19უ,1417,2465,134,190,IMG_20230312_103208.jpg,3456,4608
326,12ნ,1204,2411,117,197,IMG_20230312_103208.jpg,3456,4608
327,1ბ,826,2428,87,187,IMG_20230312_103208.jpg,3456,4608
328,17ს,997,2185,100,194,IMG_20230312_103208.jpg,3456,4608

In [19]:
# part 4
df4 = pd.read_csv("labels/labels_georgian-letters-median-part3_2023-04-25-11-53-36.csv")
df4

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,348,184,51,80,IMG_20230213_174613.jpg,1200,1600
1,0ა,670,181,48,82,IMG_20230213_174613.jpg,1200,1600
2,0ა,755,179,48,83,IMG_20230213_174613.jpg,1200,1600
3,0ა,153,374,53,76,IMG_20230213_174613.jpg,1200,1600
4,0ა,371,372,57,80,IMG_20230213_174613.jpg,1200,1600
...,...,...,...,...,...,...,...,...
1374,7თ,581,864,53,66,IMG_20230425_144856.jpg,2464,3284
1375,10ლ,687,868,44,68,IMG_20230425_144856.jpg,2464,3284
1376,19უ,1690,2887,57,97,IMG_20230425_144856.jpg,2464,3284
1377,6ზ,1544,3000,73,104,IMG_20230425_144856.jpg,2464,3284
1378,9კ,1876,2885,57,102,IMG_20230425_144856.jpg,2464,3284

In [26]:
# part 5
df5 = pd.read_csv("labels/labels_georgian-letters-middle-part4_2023-04-26-06-56-43.csv")
df5

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,983,1796,267,436,IMG_20230315_001116.jpg,4608,3456
1,0ა,3436,1152,267,377,IMG_20230315_001116.jpg,4608,3456
2,8ი,4029,1145,286,371,IMG_20230315_001116.jpg,4608,3456
3,8ი,3996,1796,306,423,IMG_20230315_001116.jpg,4608,3456
4,8ი,3554,1764,254,462,IMG_20230315_001116.jpg,4608,3456
...,...,...,...,...,...,...,...,...
711,5ვ,2095,2703,158,396,IMG_20230215_140110 (1).jpg,3456,4608
712,5ვ,1426,2718,158,345,IMG_20230215_140110 (1).jpg,3456,4608
713,10ლ,1717,2721,174,355,IMG_20230215_140110 (1).jpg,3456,4608
714,10ლ,1944,3170,181,391,IMG_20230215_140110 (1).jpg,3456,4608
715,23ყ,1040,2718,174,347,IMG_20230215_140110 (1).jpg,3456,4608

In [27]:
df = pd.concat([df1, df2, df3, df4, df5])
df.shape

(4020, 8)

In [28]:
df.to_csv("labels_georgian-letters-common.csv")

In [29]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [30]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             564
0         ა             537
4         ე             337
16        რ             251
17        ს             250
13        ო             224
10        ლ             196
12        ნ             159
11        მ             138
3         დ             135
1         ბ             132
19        უ             131
5         ვ             118
7         თ             101
18        ტ              99
2         გ              87
9         კ              72
21        ქ              60
24        შ              59
20        ფ              57
14        პ              53
30        ხ              53
6         ზ              47
26        ც              43
28        წ              25
22        ღ              19
23        ყ              15
27        ძ              14
25        ჩ              12
29        ჭ              12
31        ჯ              11
15        ჟ               5
32        ჰ               4
Name: geo_letter, dtype: int64

In [31]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)[:7].sum()

2359