In [1]:
import pandas as pd

In [ ]:
# labels_georgian-letters-1-saturated_2023-04-24-07-13-10.csv
# labels_georgian-letters-2-middle_2023-04-24-09-43-46.csv

In [3]:
# part 1
df1 = pd.read_csv("labels/labels_georgian-letters-1-saturated_2023-04-24-07-13-10.csv")
df1

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,3დ,794,898,195,182,IMG_20220404_150259.jpg,4608,3456
1,13ო,974,920,137,127,IMG_20220404_150259.jpg,4608,3456
2,10ლ,1110,926,181,159,IMG_20220404_150259.jpg,4608,3456
3,0ა,1284,931,89,130,IMG_20220404_150259.jpg,4608,3456
4,16რ,1370,908,125,157,IMG_20220404_150259.jpg,4608,3456
...,...,...,...,...,...,...,...,...
940,16რ,1062,2127,136,150,IMG_20230226_135514.jpg,3456,4608
941,20ფ,1003,2542,124,152,IMG_20230226_135514.jpg,3456,4608
942,5ვ,1045,3129,101,171,IMG_20230226_135514.jpg,3456,4608
943,5ვ,1076,1492,101,127,IMG_20230226_135514.jpg,3456,4608
944,12ნ,1017,1241,84,145,IMG_20230226_135514.jpg,3456,4608

In [4]:
# part 2
df2 = pd.read_csv("labels/labels_georgian-letters-2-middle_2023-04-24-09-43-46.csv")
df2

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,24შ,657,1145,443,664,IMG_20230212_191424.jpg,4608,3456
1,4ე,3033,1152,332,618,IMG_20230212_191424.jpg,4608,3456
2,4ე,1054,1139,345,690,IMG_20230212_191424.jpg,4608,3456
3,8ი,1367,1152,404,651,IMG_20230212_191424.jpg,4608,3456
4,8ი,3671,1126,384,644,IMG_20230212_191424.jpg,4608,3456
...,...,...,...,...,...,...,...,...
646,14პ,657,3269,142,205,IMG_20230424_114451.jpg,3456,4608
647,30ხ,1188,3275,149,202,IMG_20230424_114451.jpg,3456,4608
648,14პ,652,2325,78,134,IMG_20230424_114451.jpg,3456,4608
649,12ნ,1068,2325,87,142,IMG_20230424_114451.jpg,3456,4608
650,23ყ,1809,2312,100,138,IMG_20230424_114451.jpg,3456,4608

In [5]:
df = pd.concat([df1, df2])
df.shape

(1596, 8)

In [7]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [8]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             223
0         ა             199
4         ე             126
13        ო             120
16        რ             106
17        ს             104
10        ლ              80
12        ნ              59
1         ბ              57
11        მ              55
3         დ              51
19        უ              49
2         გ              47
18        ტ              45
5         ვ              42
7         თ              38
24        შ              29
9         კ              26
6         ზ              21
30        ხ              20
14        პ              19
20        ფ              17
21        ქ              16
26        ც              13
28        წ               8
22        ღ               6
27        ძ               5
15        ჟ               4
25        ჩ               4
23        ყ               3
31        ჯ               2
29        ჭ               1
32        ჰ               1
Name: geo_letter, dtype: int64