In [1]:
import pandas as pd

In [2]:
# part 1
df1 = pd.read_csv("labels/labels_georgian_honey_2023-02-17-05-08-17.csv")
df1

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,392,753,91,158,IMG_20230212_162744.jpg,1200,1600
1,26ც,492,756,85,155,IMG_20230212_162744.jpg,1200,1600
2,30ხ,580,750,100,161,IMG_20230212_162744.jpg,1200,1600
3,5ვ,677,756,88,155,IMG_20230212_162744.jpg,1200,1600
4,8ი,762,756,94,155,IMG_20230212_162744.jpg,1200,1600
...,...,...,...,...,...,...,...,...
1297,21ქ,2152,3226,236,630,IMG_20230215_140933 (1).jpg,3456,4608
1298,18ტ,2353,3331,262,507,IMG_20230215_140933 (1).jpg,3456,4608
1299,20ფ,1575,2789,297,498,IMG_20230215_140933 (1).jpg,3456,4608
1300,18ტ,207,1503,279,503,IMG_20230215_150353.jpg,2456,3272
1301,19უ,474,1577,286,404,IMG_20230215_150353.jpg,2456,3272

In [4]:
# part 2
df2 = pd.read_csv("labels/labels_my-project-name_2023-03-18-12-08-53.csv")
df2

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,30ხ,343,662,479,1246,IMG_20230219_144541.jpg,4608,3456
1,8ი,815,643,518,1272,IMG_20230219_144541.jpg,4608,3456
2,12ნ,1327,643,512,1272,IMG_20230219_144541.jpg,4608,3456
3,9კ,1825,656,505,1272,IMG_20230219_144541.jpg,4608,3456
4,0ა,2324,675,492,1272,IMG_20230219_144541.jpg,4608,3456
...,...,...,...,...,...,...,...,...
394,18ტ,1802,1931,151,217,IMG_20230315_003205.jpg,4608,3456
395,1ბ,1484,2425,101,192,IMG_20230315_003205.jpg,4608,3456
396,10ლ,1653,2511,197,189,IMG_20230315_003205.jpg,4608,3456
397,27ძ,2712,2410,101,192,IMG_20230315_003205.jpg,4608,3456
398,21ქ,1032,2419,149,288,IMG_20230315_003205.jpg,4608,3456

In [5]:
df = pd.concat([df1, df2])
df.shape

(1701, 8)

In [6]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [7]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             137
0         ა             134
16        რ             111
4         ე              98
17        ს              94
10        ლ              92
13        ო              81
12        ნ              79
1         ბ              75
19        უ              70
11        მ              69
18        ტ              64
5         ვ              63
3         დ              61
7         თ              56
9         კ              53
20        ფ              44
2         გ              42
21        ქ              41
30        ხ              35
24        შ              32
14        პ              30
6         ზ              26
26        ც              23
28        წ              19
23        ყ              15
25        ჩ              15
27        ძ              14
22        ღ              12
15        ჟ               6
31        ჯ               5
29        ჭ               4
32        ჰ               1
Name: geo_letter, dtype: int64