In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("photos 1/labels_georgian_honey_2023-02-13-06-08-17.csv")
df

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,392,753,91,158,IMG_20230212_162744.jpg,1200,1600
1,26ც,492,756,85,155,IMG_20230212_162744.jpg,1200,1600
2,30ხ,580,750,100,161,IMG_20230212_162744.jpg,1200,1600
3,5ვ,677,756,88,155,IMG_20230212_162744.jpg,1200,1600
4,8ი,762,756,94,155,IMG_20230212_162744.jpg,1200,1600
...,...,...,...,...,...,...,...,...
550,13ო,456,223,73,91,IMG_20230213_174425.jpg,1200,1600
551,5ვ,645,225,50,104,IMG_20230213_174425.jpg,1200,1600
552,10ლ,727,221,95,100,IMG_20230213_174425.jpg,1200,1600
553,4ე,813,225,48,96,IMG_20230213_174425.jpg,1200,1600
554,1ბ,854,207,50,104,IMG_20230213_174425.jpg,1200,1600

In [29]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [30]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             49
0         ა             43
16        რ             34
4         ე             33
10        ლ             32
17        ს             31
12        ნ             28
13        ო             28
5         ვ             25
1         ბ             24
19        უ             24
11        მ             20
3         დ             18
2         გ             17
20        ფ             16
18        ტ             15
7         თ             13
30        ხ             12
9         კ             12
21        ქ             12
14        პ             11
24        შ             10
28        წ              9
6         ზ              7
26        ც              7
25        ჩ              6
23        ყ              5
27        ძ              5
15        ჟ              4
22        ღ              4
31        ჯ              1
Name: geo_letter, dtype: int64