In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("photos 1/labels_georgian_honey_2023-02-14-01-05-22.csv")
df

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,392,753,91,158,IMG_20230212_162744.jpg,1200,1600
1,26ც,492,756,85,155,IMG_20230212_162744.jpg,1200,1600
2,30ხ,580,750,100,161,IMG_20230212_162744.jpg,1200,1600
3,5ვ,677,756,88,155,IMG_20230212_162744.jpg,1200,1600
4,8ი,762,756,94,155,IMG_20230212_162744.jpg,1200,1600
...,...,...,...,...,...,...,...,...
795,21ქ,1173,2603,123,173,IMG_20230213_221040.jpg,3456,4608
796,4ე,1393,2596,123,193,IMG_20230213_221040.jpg,3456,4608
797,18ტ,1630,892,128,182,IMG_20230213_221040.jpg,3456,4608
798,7თ,1641,464,233,224,IMG_20230213_221040.jpg,3456,4608
799,24შ,1063,469,179,211,IMG_20230213_221040.jpg,3456,4608

In [32]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [33]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             71
0         ა             64
16        რ             55
4         ე             49
10        ლ             43
17        ს             41
13        ო             40
12        ნ             38
19        უ             37
1         ბ             34
5         ვ             33
3         დ             30
11        მ             29
18        ტ             27
20        ფ             24
2         გ             22
9         კ             22
7         თ             21
21        ქ             21
30        ხ             15
24        შ             13
14        პ             12
28        წ             10
6         ზ              9
26        ც              8
25        ჩ              7
27        ძ              7
23        ყ              6
22        ღ              5
15        ჟ              4
31        ჯ              2
32        ჰ              1
Name: geo_letter, dtype: int64