In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("photos 1/labels_georgian_honey_2023-02-13-05-00-17.csv")
df

,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
0,0ა,392,753,91,158,IMG_20230212_162744.jpg,1200,1600
1,26ც,492,756,85,155,IMG_20230212_162744.jpg,1200,1600
2,30ხ,580,750,100,161,IMG_20230212_162744.jpg,1200,1600
3,5ვ,677,756,88,155,IMG_20230212_162744.jpg,1200,1600
4,8ი,762,756,94,155,IMG_20230212_162744.jpg,1200,1600
...,...,...,...,...,...,...,...,...
401,5ვ,1896,1349,275,424,IMG_20230212_184734.jpg,3456,4608
402,4ე,2145,1331,289,468,IMG_20230212_184734.jpg,3456,4608
403,16რ,2407,1301,398,455,IMG_20230212_184734.jpg,3456,4608
404,17ს,2788,1301,302,424,IMG_20230212_184734.jpg,3456,4608
405,8ი,3076,1283,324,415,IMG_20230212_184734.jpg,3456,4608

In [23]:
df["label_id"] = df["label_name"].apply(lambda x: int(x[:-1]))
df["geo_letter"] = df["label_name"].apply(lambda x: x[-1])

In [24]:
df.groupby(["label_id"])["geo_letter"].value_counts().sort_values(ascending=False)

label_id  geo_letter
8         ი             38
0         ა             35
16        რ             26
4         ე             23
10        ლ             23
17        ს             22
12        ნ             21
19        უ             19
13        ო             19
1         ბ             18
5         ვ             17
2         გ             14
11        მ             14
3         დ             11
20        ფ             10
18        ტ             10
14        პ              9
24        შ              8
30        ხ              8
9         კ              8
7         თ              8
28        წ              8
21        ქ              6
6         ზ              6
23        ყ              5
25        ჩ              5
15        ჟ              4
26        ც              4
27        ძ              3
22        ღ              3
31        ჯ              1
Name: geo_letter, dtype: int64